<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-2 d-none d-md-block sidebar p-3">
            <navbar />
        </div>
        <!-- content.component.html -->
        <main class="col-md-10 ms-sm-auto col-lg-10 content">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-4">
                <h2>Gestión de Usuarios</h2>
                <button class="btn btn-outline-primary"><i class="bi bi-box-arrow-right"></i> Cerrar sesión</button>
            </div>


        </main>
    </div>
</div>